<header>
  <div class="content">
    <h1 style="font-size:8vw;">Théo Gaudin</h1>
    <p class="p1">Je m'appelle Théo Gaudin, j'ai 18 ans et je suis en 3ème d'apprentisage a l'ERACOM en tant qu'interactive media designer. Passioné par la 3d et les nouveaux mdedias</p>

    <div class="row">

      <div class="col-4">
        <div class="videoWrapper">
            <!-- Copy & Pasted from YouTube -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/RxvIjfp1HbE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div><!-- / .videoWrapper -->
      </div><!-- / .col-4 -->

      <div class="col-4">
        <div class="videoWrapper">
            <!-- Copy & Pasted from YouTube -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/rm6gIwnJE-E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div><!-- / .videoWrapper -->
      </div><!-- / .col-4 -->

      <div class="col-4">
        <div class="videoWrapper">
            <!-- Copy & Pasted from YouTube -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/RxvIjfp1HbE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div><!-- / .videoWrapper -->
      </div><!-- / .col-4 -->

    </div><!-- / .row -->
    <p class="p2">Projet réalisé dans le cadre de mon apprentisage à l'ERACOM. J'ai pu réaliser des stories Instagram pour les Docks, qui auront pour but de promouvoir les prochains concert de trois groupe musicaux. Pour les trois projets j'ai utilise affter affect et deux d'entre eux j'au aussi utiliser Cinema 4D. </p>

    <div class="row1">

      <div class="col-6">
        <div class="videoWrapper1">
            <!-- Copy & Pasted from YouTube -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2hO4dvq4LwQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div><!-- / .videoWrapper -->
      </div><!-- / .col-6 -->
      <div class="col-6">
        <div class="videoWrapper1">
            <!-- Copy & Pasted from YouTube -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2hO4dvq4LwQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div><!-- / .videoWrapper -->
      </div><!-- / .col-6 -->
    </div>

      <p class="p3">J'ai dû réaliser une jingle sonore et un logo sonore pour l'ERACOM. Pour ce projet nous j'ai utilise Cinema 4D et affet affect.</p>

    <video class="workshop"controls="controls">
              <source src="img/workshop.mp4"></video>
    <p class="p4"> Consectetur adipisicing elit. Est earum dicta officiis ratione qui non perspiciatis necessitatibus laborum culpa ad. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste explicabo laborum non vel, aperiam, nemo esse harum officiis, temporibus quae, delectus dolorem laboriosam eligendi exercitationem aliquam eveniet autem facilis? Iure pariatur iusto ipsum aut, accusantium rerum. Ipsum officiis voluptatibus assumenda placeat obcaecati. Voluptas explicabo
    optin repellendus minima sunt, ducimus suscipit, labore ratione eum officia molestias!</p>
  </div>
</header>
