.maj {
  text-transform : uppercase;
  font-family: 'Alata', sans-serif;

}

.rank {
  color: blue;
  margin-left: 35%;
}

p {
    font-family: 'Alata', sans-serif;
    color: blue;
    text-align: center;
}

.picture {
  max-width: 400px;
  width: 100%;
  height: auto;
  margin-left: 36%;
}

.foter {
  background-color: black;
  color: white;
  margin-top: auto;
  text-align: center;
  height: 30px;
}

.titreh1 {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  text-align: center;
  font-family: 'Alata', sans-serif;
  text-align: center;
}
